{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Recently Added</h1>
		</div>
	</div>
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row">
			<div class="col-md-1"></div>
			<h2> Recently Added Items</h2>
			{% for i in items %}
			
			<div class="col-md-3">
							<div class="menu-item">
								<h3>{{i.name}}</h3>
								<p>{{i.description}}</p>
								<p class="menu-price">${{i.price}}</p>
								<p>Category name: {{i.category.name}}</p>
							</div>		
			</div>
			{% endfor %}
			</div>
			<div class="col-md-1"></div>
		</div>

{% endblock %}